<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <!--JS-->
    <script src="../ps/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../ps/js/bootstrap.js" type="text/javascript"></script>
    <script src="../ps/js/script.js" type="text/javascript"></script>

    <!--CSS-->
    <link href="../ps/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../ps/css/material-design-iconic-font.css" rel="stylesheet" type="text/css">
    <link href="../ps/css/style.css" rel="stylesheet" type="text/css">

    <title>POLL</title>

</head>

<body>

    <div class="box_teacher_form_1 col-lg-10 col-xl-10 col-md-10 col-sm-12 offset-lg-1 offset-xl-1 offset-md-1" id="main_box">
        <div class="box_title_teacher_form_1">
            <h3 class="panel_title">ایجاد پروژه جدید</h3>
            <div class="box_title_icon "><i class="zmdi zmdi-file-text"></i></div>
            <div class="panel_login_info">خوش آمدید&nbsp;
                <span class="panel_login_userid">نام کاربری شما</span>
                <div class="panel_login_logout"><i class="zmdi zmdi-power"></i>خروج از سیستم</div>
            </div>
        </div>
        <div class="box_content">

            <div class="form_wrap_tf2">
                <div class="panel_item_title panel_item_title_2" id="form_item_1">
                    <span class="form_desc form_desc_id" for="sid">پروژه را تعریف نمایید:</span>
                </div>
                <div class="row">
                    <div class="col-7">
                        <div class="form_item form-group form-group-time-tf2" id="form_item_5">
                            <div class="row">
                                <div class="col-4">
                                    <label class="form_desc_date form_desc_time_text" for="date">تاریخ ارائه</label>
                                    <input type="date" class="input form-control" name="presentation_date" id="date">
                                </div>
                                <div class="col-4">
                                    <label class="form_desc_time form_desc_time_text" for="start_time">ساعت شروع</label>
                                    <input type="time" class="input form-control" name="start_time" id="start_time" >
                                </div>
                                <div class="col-4">
                                    <label class="form_desc_time form_desc_time_text" for="end_time">ساعت پایان</label>
                                    <input type="time" class="input form-control" name="end_time" id="end_time">
                                </div>
                            </div>
                            <div class="btn  btn_add_tf2">افزودن روز جدید</div>
                        </div>
                        <div class="row table_wrap">
                            <table class="col-12">
                                <tr  class="table_head">
                                    <th style="width:30%">تاریخ ارائه</th>
                                    <th style="width:25%">ساعت شروع</th>
                                    <th style="width:25%">ساعت پایان</th>
                                    <th style="width:20%">ابزارها</th>
                                </tr>
                                <tr class="table_row">
                                    <td>1397/12/12</td>
                                    <td>13:30</td>
                                    <td>15:30</td>
                                    <td>
                                        <a href="#" class="table_tool" title="حذف این پروژه"><i class="zmdi zmdi-close"></i></a>
                                        <a href="#" class="table_tool" title="ویرایش این پروژه"><i class="zmdi zmdi-edit"></i></a>
                                    </td>
                                </tr>
                                <tr class="table_row">
                                    <td>1397/12/12</td>
                                    <td>13:30</td>
                                    <td>15:30</td>
                                    <td>
                                        <a href="#" class="table_tool" title="حذف این پروژه"><i class="zmdi zmdi-close"></i></a>
                                        <a href="#" class="table_tool" title="ویرایش این پروژه"><i class="zmdi zmdi-edit"></i></a>
                                    </td>
                                </tr>
                                <tr class="table_row">
                                    <td>1397/12/12</td>
                                    <td>13:30</td>
                                    <td>15:30</td>
                                    <td>
                                        <a href="#" class="table_tool" title="حذف این پروژه"><i class="zmdi zmdi-close"></i></a>
                                        <a href="#" class="table_tool" title="ویرایش این پروژه"><i class="zmdi zmdi-edit"></i></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                         <div class="form_desc text text_tf2">
                                            عنوان پروژه را وارد نمایید:
                                        </div>
                                         <div class="form_item form-group-accessibility" id="form_item_2">
                                            <input type="password" class="input form-control" name="password" id="password" placeholder="عنوان پروژه">
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form_desc text text_tf2">
                                            مدت زمان هر ارائه را وارد نمائید:
                                        </div>
                                         <div class="form_item form-group-accessibility" id="form_item_2">
                                            <input type="password" class="input form-control" name="password" id="password" placeholder="زمان هر ارائه به دقیقه">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form_item form_group_tf2" id="form_item_6">
                                    <label class="form_desc_edit" for="message">توضیحات پروژه</label>
                                    <textarea class="input form-control" name="message" id="message" rows="6"></textarea>
                                </div>
                            </div>
                        </div>
                        <form action="#" method="post">
                            
                            <div class="row">
                                <div class="col-6">
                                     <div class="form_item form-group-accessibility" id="form_item_2">
                                        <input type="password" class="input form-control" name="password" id="password" placeholder="کد دسترسی به پروژه" >
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form_desc text text_tf2">
                                        <input type="checkbox" name="private_project" id="checkbox" >
                                        دسترسی پروژه محدود شود.
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-12">
                        <div class="btn  btn_apply_tf2">ثبت نهایی پروژه</div>  
                    </div>
                </div>
            </div>

        </div>
        <div class="form_submit disabled_except_signup" ></div>
    </div>


</body>

</html>